body{
	background: #f2f2f2;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight:700;
}

/*
 * modal
 */

.onmodal{
	display: block;
}

.offmodal{
	display: none;
}

	#modal .modal-wrap{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		opacity: 0.8;
		background: #000;
	}

	#modal .modal-contents-wrap{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#modal .modal-contents{
		position: relative;
		width: 768px;
		padding-top: 60px;
	}

	#cboxClose {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		text-indent: -9999px;
		cursor:pointer 
	}

	#cboxClose:before {
	    content: '';
	    position: absolute;
	    top: 30px;
	    left: 0;
	    width: 60px;
	    height: 1px;
	    background-color: #ffffff;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}

	#cboxClose::after {
	    content: '';
	    position: absolute;
	    top: 30px;
	    left: 0;
	    width: 60px;
	    height: 1px;
	    background-color: #ffffff;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    border: none;
	}

#nominate-4 .small{
	font-feature-settings: "palt";
}

#nominate-4 .small a{
	color: #d1af6c;
	font-size: 70%;
	text-decoration: underline;
}