body{
	background: #f2f2f2;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight:700;
}

h1{
    font-size: 3vw;
	line-height: 150%;
	font-weight: 700;
    text-align: center;
}